<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <style>
        /* 自定义样式规则，增大文件上传标签的字体大小 */
        .custom-label {
            font-size: 50px; /* 根据需要调整字体大小 */
        }
        /* 添加渐变背景 */
        body {
            background: linear-gradient(to bottom, #3498db, #e52d2d); /* 渐变色范围和颜色可以根据需要调整 */
            height: 100vh; /* 使body占满整个视窗，确保背景图片完全显示 */
            margin: 0; /* 清除body的默认外边距 */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="container text-center mt-5">
        <div class="form-group">
            <label for="formFile" class="form-label mt-4 custom-label">一个简单的文件上传</label>
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <!-- 将提交按钮放在上传框后面 -->
        <button class="btn btn-primary mt-3" type="submit">提交</button>
    </div>

</form>


</body>
</html>